tmp/todo.txt
tmp/*

# symbole # en début de ligne pour écrire un commentaire dans le fichier .gitignore
# syntaxe tmp/* -> ignorer tous les fichiers/sous-dossiers à l'intérieur du dossier tmp
# syntaxe *.txt -> ignorer tous les fichiers avec l'extension .txt